{{ define "head.html" }}
<title>{{.title}}</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/amis@beta/sdk/cxd.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/amis@beta/sdk/helper.css">
<script src="https://cdn.jsdelivr.net/npm/amis@beta/sdk/sdk.js"></script>
<script src="https://cdn.jsdelivr.net/npm/history/umd/history.js"></script>

<style>
    html,
    body,
    .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
{{ end }}
